@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply poppins font-semibold;
  }
  h1 {
    @apply text-[96px];
  }
  h2 {
    @apply text-[72px];
  }
  h3 {
    @apply text-[60px];
  }
  h4 {
    @apply text-[40px];
  }
  .subhead1 {
    @apply text-[36px] poppins;
  }
  .subhead2 {
    @apply text-[30px] poppins;
  }
  .subhead3 {
    @apply text-[24px] leading-[34px] poppins;
  }
  .subhead4 {
    @apply text-[20px] leading-[26px] poppins;
  }
  .text1 {
    @apply text-[18px] sspro;
  }
  .text2 {
    @apply text-[13px] sspro;
  }
  .bg-red {
    @apply bg-[#ED2227] sspro;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.sspro {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  @apply max-w-[1140px] w-full mx-auto;
}

.text-red {
  @apply text-[#ED2227];
}

.text-white {
  @apply text-[#FFFFFF];
}
